@model IEnumerable<newPrideMore.Models.ProfessionalType>

@{
    ViewData["Title"] = "Profissões";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr class="col-3">
            <th>
                Especialidade
            </th>
            <th></th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="col-3">
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td></td>
            <td  class="col-2">
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
