@model newPrideMore.Models.Professional

@{
    ViewData["Title"] = "Deletar profissional";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h4>Você tem certeza que quer excluir?</h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="Email" />
    <input type="submit" value="Sim" class="btn btn-danger" />
</form>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            <span>Nome</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            <span>Profissão</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProfessionalType)
        </dd>
        <dt class="col-sm-3">
            <span>Registro profissional</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Register)
        </dd>
        <dt class="col-sm-3">
            <span>Endereço de atendimento</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3">
            <span>Contato</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            <span>Instagram</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class="col-sm-3">
            <span>Convênios cadastrados</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HealthInsurance)
        </dd>
    </dl>

    <form asp-action="Delete">
        <a asp-action="Index">← Voltar</a>
    </form>
</div>
