@model newPrideMore.Models.Professional

@{
    ViewData["Title"] = "Detalhes do profissional";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            <span>Nome</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            <span>Especialidade</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProfessionalType.Speciality)
        </dd>
        <dt class="col-sm-3">
            <span>Registro profissional</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Register)
        </dd>
        <dt class="col-sm-3">
            <span>Endereço de atendimento</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3">
            <span>Contato</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3">
            <span>Instagram</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class="col-sm-3">
            <span>Convênios cadastrados</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HealthInsurance)
        </dd>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            <span>Para profissional</span>
        </dt>
        <dd class="col-sm-9">
            <a asp-action="Edit" class="btn btn-dark" asp-route-id="@Model.Email">Editar seu cadastro</a>
            <a asp-action="Delete" class="btn btn-dark" asp-route-id="@Model.Email">Excluir seu cadastro</a>
        </dd>
    </dl>
</div>


<hr />

<div>
    <a asp-action="Index">← Voltar</a>
</div>
