@model IEnumerable<newPrideMore.Models.Professional>

@{
    ViewData["Title"] = "Pesquisar";
}

<h2>Pesquisar profissionais</h2>
<p>
    <label>Tipo de profissional</label><br>
    <select></select><br>
</p>

<table class="table table-striped table-hover">
    <thead>
    <th>
        <span>Nome</span>
    </th>
    <th>
        <span>Profissão</span>
    </th>
    <th>
        <span>Especialidade</span>
    </th>
    <th>
        <span>Endereço</span>
    </th>
    <th>
        <span>Convênios</span>
    </th>
    <th>
    </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessionalType.Profission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessionalType.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthInsurance)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Email">+ informações </a>
                </td>
            </tr>
            <hr />
        }
    </tbody>
</table>
